/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  #hero-2349 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    z-index: 1;
  }
  #hero-2349 .cs-container {
    width: 100%;
    max-width: 112.5rem;
    margin: auto;
    /* 392px - 560px */
    padding-top: clamp(350px, 58vw, 600px);
    position: relative;
    z-index: 1;
  }
  #hero-2349 .cs-content {
    width: 100%;
    max-width: 59.5rem;
    padding: var(--sectionPadding);
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  #hero-2349 .cs-title {
    /* 39px - 90px */
    font-size: clamp(2.4375rem, 6vw, 5.625rem);
    margin-bottom: 0;
    max-width: 100%;
    color: var(--bodyTextColorWhite);
  }
  #hero-2349 .cs-text {
    margin-bottom: 2rem;
    max-width: 54.5rem;
    color: var(--bodyTextColorWhite);
  }
  #hero-2349 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    padding: 0 1.5rem;
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #hero-2349 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-2349 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-2349 .cs-button-solid {
    align-self: flex-start;
  }
  #hero-2349 .cs-stats {
    margin: 0;
    /* 24px - 40px top & bottom */
    /* 16px - 60px left & right */
    padding: clamp(1.5rem, 5vw, 2.5rem) clamp(1rem, 5vw, 3.75rem);
    box-sizing: border-box;
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1.875rem;
    row-gap: 4rem;
  }
  #hero-2349 .cs-item {
    list-style: none;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #hero-2349 .cs-number {
    /* 25px - 49px */
    font-size: clamp(1.5625rem, 5vw, 3.0625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
  }
  #hero-2349 .cs-color {
    color: var(--primary);
    display: inline-block;
    transform: translateX(5px);
  }
  #hero-2349 .cs-desc {
    /* 14px - 20px */
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #hero-2349 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
  }
  #hero-2349 .cs-background:before {
    /* gradient Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #hero-2349 .cs-background img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-2349 {
    padding: var(--sectionPadding);
    padding-top: 0;
    /* 48px - 60px */
    padding-bottom: clamp(3rem, 4vw, 3.75rem);
  }
  #hero-2349 .cs-content {
    width: 55%;
    padding: 0;
  }
  #hero-2349 .cs-stats {
    width: auto;
    background-color: #fff;
    column-gap: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
  #hero-2349 .cs-item {
    grid-column: span 12;
  }
}
/* Large Desktop - 1600px */
@media only screen and (min-width: 100rem) {
  #hero-2349 .cs-stats {
    grid-template-columns: repeat(3, 1fr);
    gap: 4.5rem;
  }
  #hero-2349 .cs-item {
    grid-column: span 1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero-2349 .cs-stats {
    background-color: var(--dark);
  }
  body.dark-mode #hero-2349 .cs-number,
  body.dark-mode #hero-2349 .cs-desc {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  #services-2349 {
    padding: var(--sectionPadding);
  }
  #services-2349 .cs-card-group {
    width: 100%;
    max-width: 112.5rem;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px, changes to 100px at large desktop 1300px */
    column-gap: clamp(1rem, 3vw, 1.25rem);
    row-gap: 2rem;
  }
  #services-2349 .cs-item {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
    grid-column: span 12;
    padding: 1rem;
    border-radius: 8px;
  }
  #services-2349 .cs-item:hover {
    outline: 1px solid var(--primary);
  }
  #services-2349 .cs-link {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #services-2349 .cs-icon {
    width: 3.5rem;
    height: auto;
    margin-bottom: 1.5rem;
    display: block;
  }
  #services-2349 .cs-h2 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    text-align: inherit;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 1rem;
    padding-bottom: 1rem;
    height: 100%;
    color: var(--headerColor);
    border-bottom: 1px solid #e3ddd9;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }
  #services-2349 .cs-item-text {
    font-size: 1rem;
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-2349 .cs-item {
    grid-column: span 6;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-2349 .cs-item {
    grid-column: span 3;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-2349 .cs-card-group {
    column-gap: 6.25rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-2349 .cs-h2,
  body.dark-mode #services-2349 .cs-item-text {
    color: var(--bodyTextColorWhite);
    border-color: rgba(255, 255, 255, 0.2);
  }
  body.dark-mode #services-2349 .cs-icon {
    filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #services-2349 .cs-item-text {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  .services {
    z-index: 100;
    position: relative;
    border-top: 0.375em solid var(--primary);
    border-radius: 0.3125em;
    margin: auto;
    margin-top: calc(-167 / 16 * 1em);
    margin-bottom: 3.125em;
    background: #fff;
    max-width: 82.5em;
    width: 90%;
    padding: 3.125em 1.25em;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  }
  .services .card {
    display: block;
    margin: auto;
    margin-bottom: 3.125em;
    max-width: 22.3125em;
    width: 100%;
  }
  .services .card picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1.4375em;
    background: var(--primary);
    height: 5.5em;
    width: 5.5em;
  }
  .services .card picture img {
    height: 3em;
    width: 3em;
  }
  .services .card h2 {
    margin-bottom: 0.65em;
    font-size: 2em;
    line-height: 1.35em;
    font-weight: 700;
    color: #1a1a1a;
    text-align: center;
  }
  .services .card p {
    opacity: 0.7;
    width: 100%;
    line-height: 1.33333333em;
    text-align: center;
  }
  .services .card:last-of-type {
    margin-bottom: 0;
  }
}
/* Inbetween */
@media only screen and (min-width: 768px) {
  .services {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 98%;
    font-size: min(1.8vw, 1em);
  }
  .services .card {
    margin: 0;
    max-width: 20.3125em;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  .services {
    padding: 3.125em 5em;
  }
  .services .card {
    max-width: 22.3125em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services {
    background: var(--medium);
  }
  body.dark-mode #services picture {
    background: var(--primaryDark);
  }
  body.dark-mode #services h2 {
    font-weight: bold;
    color: #fff;
  }
}
