/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
	#hero-2349 {
		display: flex;
		flex-direction: column;
		gap: (48/16rem);
		position: relative;
		z-index: 1;

		.cs-container {
			width: 100%;
			max-width: (1800/16rem);
			margin: auto;
			/* 392px - 560px */
			padding-top: clamp(350px, 58vw, 600px);
			position: relative;
			z-index: 1;
		}

		.cs-content {
			width: 100%;
			max-width: (952/16rem);
			padding: var(--sectionPadding);
			padding-top: 0;
			padding-bottom: 0;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			row-gap: (16/16rem);
		}

		.cs-title {
			/* 39px - 90px */
			font-size: clamp(2.4375rem, 6vw, 5.625rem);
			margin-bottom: 0;
			max-width: 100%;
			color: var(--bodyTextColorWhite);
		}

		.cs-text {
			margin-bottom: (32/16rem);
			max-width: (872/16rem);
			color: var(--bodyTextColorWhite);
		}

		.cs-button-solid {
			font-size: (16/16rem);
			font-weight: 700;
			/* 46px - 56px */
			line-height: clamp(2.875rem, 5.5vw, 3.5rem);
			text-align: center;
			text-decoration: none;
			min-width: (150/16rem);
			margin: 0;
			padding: 0 (24/16rem);
			background-color: var(--primary);
			color: var(--bodyTextColorWhite);
			display: inline-block;
			position: relative;
			z-index: 1;

			&:before {
				content: "";
				width: 0%;
				height: 100%;
				background: #000;
				opacity: 1;
				border-radius: (4/16rem);
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				transition: width 0.3s;
			}

			&:hover {
				&:before {
					width: 100%;
				}
			}
		}

		.cs-button-solid {
			align-self: flex-start;
		}

		.cs-stats {
			margin: 0;
			/* 24px - 40px top & bottom */
			/* 16px - 60px left & right */
			padding: clamp(1.5rem, 5vw, 2.5rem) clamp(1rem, 5vw, 3.75rem);
			box-sizing: border-box;
			background-color: #f7f7f7;
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			column-gap: (30/16rem);
			row-gap: (64/16rem);
		}

		.cs-item {
			list-style: none;
			grid-column: span 4;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		.cs-number {
			/* 25px - 49px */
			font-size: clamp(1.5625rem, 5vw, 3.0625rem);
			line-height: 1.2em;
			font-weight: 700;
			margin: 0;
			color: var(--headerColor);
		}

		.cs-color {
			color: var(--primary);
			display: inline-block;
			transform: translateX(5px);
		}

		.cs-desc {
			/* 14px - 20px */
			font-size: clamp(0.875rem, 2vw, 1.25rem);
			line-height: 1.5em;
			margin: 0;
			color: var(--bodyTextColor);
		}

		.cs-background {
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			z-index: -2;

			&:before {
				/* gradient Overlay */
				content: "";
				width: 100%;
				height: 100%;
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				opacity: 1;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
			}

			img {
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				object-fit: cover;
			}
		}
	}
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#hero-2349 {
		padding: var(--sectionPadding);
		padding-top: 0;
		/* 48px - 60px */
		padding-bottom: clamp(3rem, 4vw, 3.75rem);

		.cs-content {
			width: 55%;
			padding: 0;
		}

		.cs-stats {
			width: auto;
			background-color: #fff;
			column-gap: 0;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 10;
		}

		.cs-item {
			grid-column: span 12;
		}
	}
}

/* Large Desktop - 1600px */
@media only screen and (min-width: 100rem) {
	#hero-2349 {
		.cs-stats {
			grid-template-columns: repeat(3, 1fr);
			gap: (72/16rem);
		}

		.cs-item {
			grid-column: span 1;
		}
	}
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
	body.dark-mode {
		#hero-2349 {
			.cs-stats {
				background-color: var(--dark);
			}

			.cs-number,
			.cs-desc {
				color: var(--bodyTextColorWhite);
			}
		}
	}
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
	#services-2349 {
		padding: var(--sectionPadding);

		.cs-card-group {
			width: 100%;
			max-width: (1800/16rem);
			margin: 0 auto;
			padding: 0;
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			/* 16px - 20px, changes to 100px at large desktop 1300px */
			column-gap: clamp(1rem, 3vw, 1.25rem);
			row-gap: (32/16rem);
		}

		.cs-item {
			list-style: none;
			text-align: left;
			margin: 0;
			padding: 0;
			grid-column: span 12;
            padding: 1rem;
            border-radius: 8px;
		}
		.cs-item:hover {
            outline: 1px solid var(--primary);
		}

		.cs-link {
			text-decoration: none;
			height: 100%;
			display: flex;
			flex-direction: column;
		}

		.cs-icon {
			// width: (24/16rem);
            width: 3.5rem;
			height: auto;
			margin-bottom: (24/16rem);
			display: block;
		}

		.cs-h2 {
			/* 20px - 25px */
			font-size: clamp(1.25rem, 3vw, 1.5625rem);
			text-align: inherit;
			line-height: 1.2em;
			font-weight: 700;
			margin: 0 0 (16/16rem);
			padding-bottom: (16/16rem);
			height: 100%;
			color: var(--headerColor);
			border-bottom: 1px solid #e3ddd9;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			gap: (16/16rem);
		}

		.cs-item-text {
			font-size: (16/16rem);
			text-align: inherit;
			line-height: 1.5em;
			margin: 0;
			color: var(--bodyTextColor);
		}
	}
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#services-2349 {
		.cs-item {
			grid-column: span 6;
		}
	}
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#services-2349 {
		.cs-item {
			grid-column: span 3;
		}
	}
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
	#services-2349 {
		.cs-card-group {
			column-gap: (100/16rem);
		}
	}
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
	body.dark-mode {
		#services-2349 {
			.cs-h2,
			.cs-item-text {
				color: var(--bodyTextColorWhite);
				border-color: rgba(255, 255, 255, 0.2);
			}

			.cs-icon {
				filter: grayscale(1) brightness(1000%);
			}

			.cs-item-text {
				opacity: 0.8;
			}
		}
	}
}
                                
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    .services {
        z-index: 100;
        position: relative;
        border-top: (6/16em) solid var(--primary);
        border-radius: (5/16em);
        margin: auto;
        margin-top: calc(-167 / 16 * 1em);
        margin-bottom: (50/16em);
        background: #fff;
        max-width: (1320/16em);
        width: 90%;
        padding: (50/16em) (20/16em);
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
        .card {
            display: block;
            margin: auto;
            margin-bottom: (50/16em);
            max-width: (357/16em);
            width: 100%;

            picture {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin: auto;
                margin-bottom: (23/16em);
                background: var(--primary);
                height: (88/16em);
                width: (88/16em);

                img {
                    height: (48/16em);
                    width: (48/16em);
                }
            }
            h2 {
                margin-bottom: (13/20em);
                font-size: (32/16em);
                line-height: (27/20em);
                font-weight: 700;
                color: #1a1a1a;
                text-align: center;
            }
            p {
                opacity: 0.7;
                width: 100%;
                line-height: (24/18em);
                text-align: center;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

/* Inbetween */
@media only screen and (min-width: 768px) {
    .services {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 98%;
        font-size: ~"min(1.8vw, 1em)";

        .card {
            margin: 0;
            max-width: (325/16em);
        }
    }
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
    .services {
        padding: (50/16em) (80/16em);

        .card {
            max-width: (357/16em);
        }
    }
}

/* Dark mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services {
            background: var(--medium);

            picture {
                background: var(--primaryDark);
            }

            h2 {
                font-weight: bold;
                color: #fff;
            }
        }
    }
}
